<div class="app-main">
    <h2 class="title">Server Canvas</h2>

    <div class="cluster">
        <div *ngFor="let server of clusterServers" class="server" [id]="'server_' + server.id">
            <div class="server-overlay">
                <button (click)="removeServer(server.id)">
                    <img src="../../assets/icons/minus-circle-line.svg" alt="destroy server">
                    <span>Destroy</span>
                </button>
            </div>
            
            <div *ngFor="let app of server.apps" class="server-app" [style.background]="app.color"
            [id]="'server_' + server.id + '_app_' + app.app_server_id">
                {{setAppBlockGradient(server.id, app.app_server_id, app.gradient)}}
                
                <h3 class="app-short"><b>{{app.short_name[0]}}</b>{{app.short_name.slice(1)}}</h3>
                <h6 class="app-name">{{app.name}}</h6>
                <span class="app-started">Added a few seconds ago</span>
            </div>
        </div>
    </div>
</div>