.app-main {
    height: 100%;
    background-color: #000000;
    padding: 1rem 1.5rem;
}

.title {
    color: white;
    font-size: 20px;
    font-weight: 600;
}

.cluster {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
}

.server {
    height: 120px;
    min-width: 160px;
    max-width: 330px;
    border-radius: 4px;
    background-color: #1E1E1E;
    margin: 0 16px 20px 0;
    animation: ServerEnter 0.7s both;

    &.server__exit {
        animation: ServerExit 0.7s both;
    }
}

@keyframes ServerEnter {
    from { opacity: 0; transform: translateX(20px); display: none; }
    to { opacity: 1; transform: translateX(0); display: block; }
}

@keyframes ServerExit {
    from { opacity: 1; transform: translateX(0); display: block; }
    to { opacity: 0; transform: translateX(20px); display: none; }
}