html, body {
    margin: 0;
    height: 100%;
    text-rendering: optimizeLegibility;
}

.h-100 {
    height: 100%;
}

button {
    cursor: pointer;

    &:hover {
        filter: invert(0.5);
    }
}

@media screen and (max-width: 600px) {
    body {
        height: calc(100% + 120px);
    }
}